.aishenghuo {
            width: 100%;
            /*height: 500px;*/
            background-color: #F6F6F6;
        }

        .aishenghuo_content {
            width: 1200px;
            /*height: 500px;*/
            /*background-color: green;*/
            margin: 0 auto;
            position: relative;
            /*color: white*/
        }

        .show_neirong {
            width: 100%;
            /*background-color: yellow;*/
            /*height: 400px;*/
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        section {
            width: 595px;
            height: 520px;
            background-color: white;
            margin-bottom: 30px;
            position: relative;
        }

        section:nth-of-type(5) {
            width: 100%;
        }

        section:nth-of-type(8) {
            width: 100%;
        }

        section h3 {
            margin: 0;
        }

        .ai_bt {
            width: 100%;
            height: 58px;
            background-color: #994576;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .ag_ewm {
            margin-left: 10px;
        }

        .ai_bt div {
            width: 67.5%;
            height: 100%;
            /*background-color: red;*/
        }

        .ai_bt h3 {
            color: white;
            margin-left: 25px;
            display: flex;
            align-items: center;
        }

        .ai_bt div {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .ai_bt div p {
            width: auto;
            height: 26px;
            /*background-color: yellow;*/
            padding: 0 13px 0 13px;
            text-align: center;
            font-size: 12px;
            line-height: 26px;
            color: white;
            background-color: #AF6991;
            box-shadow: 0 0 2px white;
            /*border: 1px solid white*/
        }

        .fzc {
            width: 193px;
            height: 260px;
            margin: 10px 0 0 10px;
            position: relative;
            overflow: hidden;
            background-color: #F8F6F9;
        }

        .fzc img {
            position: absolute;
            right: -10px;
        }

        .ash_rg {
            width: 370px;
            height: 260px;
            margin: 10px 10px 0px 0px;
            background-color: white;
            position: absolute;
            top: 58px;
            right: 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            /*position: relative;*/
        }

        .ash_rg img {
            position: relative;
            bottom: 60px;
            left: 80px;
        }

        .ash_rg h5 {
            width: 70px;
            height: 21px;
            margin: 25px 0 0 10px;
            z-index: 10;
            position: relative;
        }

        .ash_rg p {
            width: 50px;
            height: 36px;
            margin: 0px 0 0 10px;
            z-index: 10;
            position: relative;
        }

        .ash_rg_in {
            width: 50%;
            height: 50%;
            border: 1px solid gainsboro;
        }

        .sanzhang {
            width: 97%;
            height: 130px;
            margin: 10px 0 0 10px;
            /*background-color: black;*/
            display: flex;
            justify-content: space-between;
        }

        .s_yidong {
            width: 188px;
            height: 130px;
            position: relative;
            overflow: hidden;
        }

        .s_yidong img {
            position: absolute;
            right: -5px;
        }

        .ash_foot {
            width: 100%;
            height: 35px;
            margin-top: 10px;
            display: flex;
            justify-content: space-around;
            /*background-color: green;*/
        }
        /*2个特别的div*/

        section:nth-of-type(5) {
            /*background-color: red;*/
            position: relative;
        }
        section:nth-of-type(5) .ash_rg:nth-of-type(2),
        section:nth-of-type(8) .ash_rg:nth-of-type(2)
         {
            position: absolute;
            top: 58px;
            left: 215px;
        }
       
        .sanzhang.s_4{
            width: 48%;
        }
        .sanzhang.s_7{
            width: 48%;
        }
        .ai_bt_4 div{
            width: 75%;
        }
        .ai_bt_7 div{
            width: 75%;
        }